/* ================ Основные стили ================ */
body  {
  box-sizing: border-box;
  min-width: 1100px;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  color: #3d3d3d;
  position: relative;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/* .otl {
  outline: 1px solid black;
} */

/* Центровщик */
.center-wrapper {
  min-height: inherit;
  width: 1000px;
  margin: 0px auto 0px auto;
}

.flex {
  display: flex;
}

/* Базовый стиль кнопок */
.btn {
    background-color: #ffb544; /* Оранжевый */
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
}

/* Сброс отступов у заголовков */
h1,
h2,
h3  {
  margin: 0px;
}

/* Базовый стиль для заголовка секций */
.section-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

/* Сброс стилей для ссылок */
a,
a:hover {
  color: inherit;
  text-decoration: none;
}

/* Отступ от начала секции когда есть заголовок */
.center-wrapper h2  {
  padding-top: 20px;
}

/* ================ Промо секция ================ */
/* Базовые стили секции */
.promo  {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 350px;
  width: inherit;
  background-color: white;
}

/* Контейнер для заголовка */
.promo-text-container {
    float: left;
    width: 420px;
}

/* Сброс отступов в Промо контейнере */
.promo-text-container * {
  margin: 0px;
}

.promo-text-title  {
  font-size: 64px;
  font-weight: 700;
  margin-top: 80px;
}

.promo-text-describe {
  margin-top: 20px;
  font-size: 20px;
  font-style: italic;
}

.promo-img-container  {
  width: 550px;
  float: right;
}

.promo-img {
  height: 345px;
}

.promo-img img  {

}

/* ================ Секция с преимуществами (новые) ================ */
/* Базовые стили */
.features {
  background-color: #f4f4f4;
  padding-bottom: 10px;
}

.features-container {
  min-height: 500px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.features-item  {
  min-height: 200px;
  width: 900px;
  margin-bottom: 20px;
  background-color: white;
}

/* ================ Секция с продукцией ================ */
/* Базовые стили */
.product  {
  min-height: 600px;
  width: inherit;
  background-color: #ffb544;
}

/* Применяется к классу .flex ТОЛЬКО когда он вложен в .product */
.product .flex  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: space-around;
}

/* Карточка продукта */
.product-item {
  position: relative;
  flex-basis: 215px;
  min-height: 265px;
  margin: 10px;
  background-color: #f4f4f4;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.3); /* Тень */
}

/* Контейнер для картинки */
.product-img-container {
  height: 160px;
  width: 160px;
  margin-left: auto;
  margin-right: auto;
}

/* Стили для картинок в карточке */
.product-img  {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.product-item:hover {
  box-shadow: 0px 0px 19px rgba(0,0,0,0.5); /* Тень */
}

/* Стили имени продукта */
.product-name {
  display: block;
  width: 150px;
  margin: 0px auto 0px auto;
  text-align: center;
}

/* Контейнер для кнопок */
.button-container {
  position: absolute;
  bottom: 3%;
  left: 5px;
}

/* Стили для кнопки */
.product-item .btn  {
  width: 75px;
  margin-left: 5px;
  transition: linear 0.15s;
}

/* Стили для кнопки при наведении мыши */
.product-item .btn:hover  {
  background-color: white;
  transition: linear 0.15s;
  outline: 1px solid #ffb544;
}

/* ================ Секция с видео тестами ================ */

.test {
  min-height: 380px;
  background-color: white;
  padding-bottom: 10px;
}

.test-content-wrapper {
  flex-direction: row;
  flex-shrink: 0;
  flex-grow: 0;
  justify-content: space-around;
  align-items: center;
}

.test-text-container  {
  min-width: 350px;
  max-width: 400px;
  line-height: 1.4;
}

/* Нижняя рамочка для видео :3 */
.test-video {
  border-bottom: 3px solid #ffb544;
}

/* ================ Футер ================ */

/* Сброс вертикальных отступов в футере */
.main-footer * {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Базовые стили футера */
.main-footer  {
  min-height: 200px;
  width: 100%;
  background-color: white;
}

.modal-content  {
  display: none;
  background-color: gray;
  height: 400px;
  width: 800px;
  padding: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -450px;
  margin-top: -
}
